{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-standardpage{% endblock %}

{% block content %}
<section class="theme-section">
  <div class="theme-container">
    <article class="prose lg:prose-lg max-w-none">
      <header class="mb-8">
        <h1 class="theme-heading text-4xl">{{ page.title }}</h1>
        {% if page.intro %}
        <div class="text-gray-600 mt-2">{{ page.intro|richtext }}</div>
        {% endif %}
      </header>

      {% if page.body %}
        {% for block in page.body %}
          {% include_block block %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
</section>
{% endblock %} 